html {
	background-color: black;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}
body {
	background-color: black;
	color: white;
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
	background-image: url('/images/bookshelf.jpg');
	background-position: center center;
	background-size: cover;
	overflow-y: auto;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.hero-release-date {
	flex: 1;
}
.mobile-center-align {
	@media (max-width: 600px) {
		text-align: center;
	}
}
.book-page-image {
	height: 700px;
	margin: 0px auto;
	margin-top: 2rem;
	@media (max-width: 600px) {
		width: 100%;
		height: auto;
	}
}
.book-page-title {
	font-size: 3.5rem;
	overflow: hidden;
	font-weight: bold;
	margin: 0;
	margin-top: 2rem;
	margin-bottom: 2rem;
	text-transform: uppercase;

	@media (max-width: 600px) {
		font-size: 2rem;
		margin-top: 1rem;
		margin-bottom: 0;
	}
}
.social-share {
	margin-bottom: 2rem;
	@media (max-width: 600px) {
		margin-bottom: 0;
	}
}
.book-page-author {
	font-size: 32px;
	margin-bottom: 2rem;
	@media (max-width: 600px) {
		font-size: 1.5rem;
		text-align: center;
	}
}
.wrapper {
	margin-top: 4rem;
}
.book-page-description {
	margin-top: 2rem;
	font-size: 1.1rem;
	font-family: 'Work Sans', sans-serif;
	@media (max-width: 600px) {
		font-size: 1.1rem;
	}

	br {
		content: '';
		height: 16px;
		display: block;
	}
}
.buy-links {
	display: flex;
	margin-top: 1rem;
	justify-content: center;
}
.release-text {
	text-align: center;
	font-size: 2rem;
}
